.header {
  width: 100%;
  background-color: gray;
  height: 56px;
  position: fixed;
  grid-area: header;
  display: flex;
  padding: 0 16px;
  /*padding-top: 2rem;
  padding-bottom: 2rem; */

  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  /*justify-content: space-evenly; */
}

.avatar_icon {
  width: 35px;
  height: 35px;

}

.video_icon {
  font-size: 19px;


  .user-info_upload {
    font-size: 19px;
  }

  .user-info__icon-notification {
    font-size: 19px;
  }