.aside {
  grid-area: aside;
  border-bottom: 1px solid #eeeeee;
  background-color: var(--bgColor);
}

@media (max-width: 1108px) {
  .aside {
    display: none;
  }
}

/* .aside:hover {
  overflow-y: auto;
} */