.aside {
  grid-area: aside;
  border-bottom: 1px solid #eeeeee;
  background-color: var(--bgColor);
  position: fixed;
  height: calc(100vh -56px);
  overflow: auto;
  top: 56px;
  z-index: 190090090;
}

@media (max-width: 1108px) {
  .aside {
    display: none;
  }
}

/* .aside:hover {
  overflow-y: auto;
} */