.menu {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem;
}

/* menu_central_nav bar in the middle part - Inner menu*/
.menu_central_nav {
  display: flex;
  overflow: hidden;
  list-style: none;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  margin: 0;
  position: fixed;
  top: 70px;
  width: calc(100vw - 175px);
  z-index: 100;
}

/*----------pop_menu---------*/
.popup_menu {
  position: absolute;
  right: 50px;
  top: 70px;
  border: 1px solid rgba(170, 170, 170, 0.644);
  z-index: 1000;
  background-color: rgba(41, 41, 41, 0.98);
  width: 300px;
}

.option {
  display: flex;
  flex-direction: column;
  height: 60vh;

  overflow: scroll;
}

.popup_menu able {
  display: none;
}

.popup_menu .user {
  display: flex;
  flex-direction: row;
}

.user img {
  width: 45px;
  border-radius: 50%;
  margin: 0 0.9rem;
}

.user>.img2 {
  text-align: center;
  width: 30%;
  justify-content: center;
}

.img2>img {
  margin-top: 20px;
}

.user>.info {
  width: 80%;
}

.user .name {
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  color: white;
}

.user .email {
  padding-left: 15px;
  margin-top: 0;
  color: white;
}

.user a {
  color: #346796;
}

.option a {
  margin: 0;
  padding: 10px;
  font-size: 18px;
}

.option a i {
  margin-right: 20px;
}

.option a:hover {
  background-color: rgba(61, 61, 61, 0.876);
}

/*--------======END POP_UP MENU ==========-------*/

/* DARK MODE */

.dmode {
  display: flex;
}

.switch {
  margin-left: 1rem;
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: inherit;
  border-radius: 100px;
  transition: 0.3s ease all;
}

.switch.active {
  background: orange;
}

.switch.active::after {
  right: 0px;
  left: inherit;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.switch span:nth-child(2) {
  padding-left: 10px;
}