html,
body {
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    --bgColor: gray;
    --fontColor: black;

    * {
        background-color: var(--bgColor);
        color: var(--fontColor);
    }
}

body {
    &.dark_mode {
        --bgColor: rgb(71, 67, 67);
        --fontColor: white;
    }
}