.user-info {
  width: 156px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 470px) {
  .user-info {
    margin-left: auto;
    flex-direction: row;
  }
}

.user-info__icon-profile {
  border-radius: 50%;
  flex-shrink: 2; /**/
  height: 3vh;
  width: 3vw;
}
