.play-all-on-hover {
    position: absolute;
    top: 35%;
    left: 35%;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    color: white;
    z-index: 1;
    visibility: hidden;
}

.play-all-on-hover i {
    padding-right: 0.5em;
}

.play-all-on-hover:hover {
    z-index: 1;
    opacity: 1;
}

div img:hover {
    filter: opacity(0.3);
    cursor: pointer;
}

div img:hover~.play-all-on-hover {
    visibility: visible;
}