uploads ul li {
    margin: 0.5em;
    display: inline-flex;
    color: white;
    font-size: medium;
}

/*user button - as an upload icon in header */
.uploads ul li i {
    padding-right: 0.5em;
    margin: 0 0.5rem;
}

.uploads ul li:nth-child(2) {
    text-transform: uppercase;
    color: grey;
}

.video-images {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}